<div class="project">
<h1>Projects</h1>
<img src="assets/images/gemdev2.png" alt="">
<h2>In this project for our GameDevFest, Space Impact was being assigned to us to make a game based
on a spin the wheel technique. This occured when i was on First Year,
Second Sem.</h2>
</div>
<div class="project1">
<img src="assets/images/hci1.png" alt="">
<h1>For our HCi Subject in FIrst Year
 Second Sem, we were being assigned 
to make a dashboard for our assignd task. 
We made this in proto.io. </h1>
</div>
<div class="project2">
<img src="assets/images/app1.png" alt="">
<h1>This was a System that is assigned by group.
I was one of the assigned Product Manager in the group. Updating my Group Mates what was announced and what was being told to us. Also updating the Miro board. This occurs on my Second Year, First Sem.</h1>
</div>